# Test ดูว่า code run ได้ไหม
Passed :white_check_mark:
# R project ดูประวัติ variable กับ R project
found :white_check_mark:
# R- markdown ลองแปลงไฟล์ เช่นเป็นไฟล์ word
is knitable :white_check_mark:
