# Test : failed :x: <br>
6737932_SIRE506_Assignment02.Rmd cannot read dataset "train" :x: <br>
but other codes can run. :heavy_check_mark:
# R project : not found :x:
# R- markdown : not knittable :x:
because this file cannot read dataset "train" :x:
